<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Peradigm.AppSettings" type="PSC.Configuration.ServerBasedSectionHandler,Extensions.ClassLibrary.Configuration"/>
  </configSections>
  <Peradigm.AppSettings>
		<!--add key="ConnectionString" value="User ID=sedotakj;Password=Ithica4e;Data Source=JSORCL"/ -->
		<add key="DB2ConnectionString" value="Datasource=155.16.44.25;UserID=PSCKJS;Password=Ithica4e;Database=DVLA"/>
		<add key="CommandTimeout" value="300"/>
	</Peradigm.AppSettings>
</configuration>
