<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="PatientAccessExecutablePath" value="C:\Source\PatientAccess\Trunk\src\PatientAccess\Client\WinForms\bin\PatientAccess.exe"/>
    <add key="UserName" value="patientaccess.user03"/>
    <add key="Password" value="Password1"/>
    
    <!--For the model office environment use the following settings-->
    <!--<add key="Password" value="Burndown1"/>-->      
    <!--<add key="PatientAccessExecutablePath" value="C:\Program Files (x86)\Patient Access (Model Office)\PatientAccess\PatientAccess.exe"/>-->    
  </appSettings>
</configuration>