<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Peradigm.AppSettings" type="PSC.Configuration.ServerBasedSectionHandler,Extensions.ClassLibrary.Configuration"/>
  </configSections>
  <Peradigm.AppSettings>
    <add key="ConnectionString" value="Server=PSCDALHDCDB02;Database=PSCFrameworkTests;UID=pid.PSCFramework;PWD=k1l1manjar0"/>
		<add key="SQL.Timeout"      value="30"/>
	</Peradigm.AppSettings>
</configuration>
