<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Configuration generated for Local on Trunk (2021-10-04T14:43:09+05:30) -->
  <connectionStrings configProtectionProvider="PatientAccessProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>HjNQSGROKj6C2Ud0FEa6FgHWjcFbr3DoJkBJv1KEmNkri6k/trPzu89Gr40LIF6se+lSCQvuUh6c7Wspp9PUjtpjLRHS8Hu/mOFtGOOYo/TRA2h0MXjCcNmxf0NplIfwJpDs5g9WGXSHWNCFRo1OxzjYZjd4wTg0RkaIoKKpJGk=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>SrKyZ1Q6aVxuVeeHSeS0AVUwlkoKs4DQhGrktad954EHC1loUePLjqoaitL63NaBt7ONByf9Z+Mgxk63dlVUDX9div1w92SkeLo1kQo/IykDvm3Tn+UIBO8luFMJZ3QZGd9sRlVebT3QaUwDhbsJ5BXDDXWEweLfhxlPBokq2x4CIyqJBssCKSAxadDDhNMWctaXYzMwiK/VtV81ExmYeHFFqwe2tQVjdHvmrQrr5rpZwQ4kRijNuVoFQryOL41r+MjxfYgAwXc/KwRBrHBBvVW2+VqMO6K1m+Dv4Hw5QQVVMzDJhT2svXJQ/MsspHExDY1MPSIn00wfTHFdnBKRbPCwPjyNCw1uUFVXl+uvat+H0jJq0SgXd4/TLllUTNFjLUdunsxbgX0+WADka+ajQXvyH5C1Lgkw4bxyZqmsruUD9VIdYrqHq1gqQ++W2TJrA+1YO1IeFGE7gcDXbxbVaAxc8jk8FnlBtnFhRqlmJDFAM1nY3youDTctU948CS4w9gxy7RA6Q0VpuGsuHRLVemz8UJdcJIUSO3otlPEdFHYMHFlW1kCM/P0zIySKq7iFjzlJF5wyLF4lIDxGQdhrtJx4lDjgWDmkrDrgnkPtLPa3MA22ReRJVieOKt78yyNmPqbJvmf1I+tZx3Oz5m1KOA==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="DownloadEnabled" value="False" />
    <add key="ClientDownloadURL" value="http://localhost/PatientAccess.AppServer/Downloads/" />
    <add key="ClientDownloadPath" value="" />
    <!-- These EDV settings, when not blank, override the user and facility passed to Passport for data validation. -->
    <add key="EdvUserOverride" value="KENNETH MCKENZIE" />
    <add key="EdvFacilityOverride" value="T38" />
    <add key="LockWaitAttempts" value="10" />
    <add key="LockWaitInterval" value="500" />
    <add key="MSP2_START_DATE" value="11/01/2006" />
    <add key="UseDynamicSearch" value="true" />
    <add key="RetryAttempts" value="5" />
    <add key="LOADINGFACILITY" value="" />
    <add key="ConnectionTimeout" value="0" />
    <add key="CommandTimeout" value="0" />
    <add key="EMPLOYER_CODE_DATA_AREA_NAME" value="EM#       " />
    <add key="EMPLOYER_CODE_LIB_NAME" value="PALIBR    " />
    <add key="VersionMatchEnforced" value="true" />
    <add key="ACTIVITY_TIMEOUT_FIRST_ALERT" value="3300000" />
    <add key="ACTIVITY_TIMEOUT_SECOND_ALERT" value="300000" />
    <add key="ADAMApplicationName" value="PatientAccess" />
    <add key="ADAMLegacyApplicationName" value="PBAR" />
    <add key="OrganizationalService.RenewFrequency" value="1440" />
    <add key="OrganizationalService.DeactivateFacilities" value="false" />
    <add key="OrganizationalService.Provider.Assembly" value="PatientAccess.AppServer.dll" />
    <add key="OrganizationalService.Provider.Class" value="PatientAccess.Persistence.OrganizationalHierarchyProvider" />
    <add key="PatientAccess.IsServer" value="True" />
    <add key="InsertImmediate" value="true" />
    <add key="UseMedicareCannotBePrimaryPayorForAutoAccidentRule" value="true" />
    <add key="PREOP_START_DATE" value="11/01/2009" />
    <add key="CACHE_KEY_FOR_ACCOMODATIONCODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ACTIVITY_CODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ACTIVITIESLOADED_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ADMITSOURCES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ALLACCOMODATIONS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ALLACTIONS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ALLRULES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ALLRULESBYID_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_BENEFITS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_CONDITIONCODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_CONDITIONOFSERVICE_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_CONFIDENTIALCODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_CONNECTION_SPECS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_COUNTIES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_COUNTRIES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_DISCHARGE_DISPOSITIONS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_DISCHARGE_STATUSES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_EMPLOYMENT_STATUSES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ETHNICITIES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_FACILITIES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_FINANCIALCLASSES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_CREDITCARDTYPES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_FOLLOWUPUNITS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_GENDERS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_HOSPITALCLINICS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_HSVS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_LANGUAGES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_MARITALSTATUSES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_MODESOFARRIVAL_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_NPPVERSIONS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_NURSINGSTATIONS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_OCCURANCECODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_PATIENTTYPES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_PHYSICIANROLES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_PHYSICIANSPECIALTIES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_PRETESTHOSPITALCLINICS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_RACES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_READMITCODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_REFERRALFACILITIES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_REFERRALSOURCES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_REFERRALTYPES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_RELIGIONS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_RELIGIOUSPLACESOFWORSHIP_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ROLES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ROOMS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_RULEACTIONS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_RULEWORKLIST_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_SCHEDULECODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_SELECTABLEOCCURANCECODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_SPANCODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_STATES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_TENET_PLAN_CODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_TYPESOFRELATIONSHIPS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_WORKLISTRANGES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_WORKLISTS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_WORKLISTSELECTIONRANGES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_WRITEABLE_ACTIVITY_CODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ZIPCODESTATUSES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_TYPESOFVERIFICATIONRULES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_TYPESOFPRODUCTS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_RESEARCHSTUDIES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ALTERNATECAREFACILITIES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_SUFFIXCODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_DIALYSISCENTERNAMES_INTERVAL" value="1" />
    <add key="PARSE_COMMERCIAL" value="true" />
    <add key="PARSE_GOVERNMENT_MEDICARE" value="true" />
    <add key="PARSE_GOVERNMENT_MEDICAID" value="false" />
    <add key="PARSE_GOVERNMENT_OTHER" value="false" />
    <add key="RegexPatternForMedicaidPayorId" value="(?:MEDICAID-CA)" />
    <add key="RegexPatternForCommercialPayorId" value="(?:CIGNA.*|06-0303370*)" />
    <add key="LOADINGFOLLOWUPUNIT" value="000" />
    <add key="LOADCACHESERIAL" value="true" />
    <add key="PERFORM_PRESAVECHECK" value="true" />
    <add key="WEB_REQUEST_DEFAULTS" value="false" />
    <add key="WEB_REQUEST_KEEP_ALIVE" value="false" />
    <add key="WEB_REQUEST_PROTOCOL_VERSION" value="1.1" />
    <add key="CCMaxServicePointIdleTime" value="3000" />
    <add key="CCCheckForCrossThreads" value="true" />
    <add key="CCAnnouncementsAfterCrash" value="true" />
    <add key="CCUseRemotingCompression" value="true" />
    <add key="CCRemotingErrorRetries" value="0" />
    <add key="CCRemotingTimeout" value="-1" />
    <add key="CCApplicationInActivityTimeout" value="900000" />
    <add key="CIEGUID" value="a9b201b721c51d42810216101466cf84" />
    <add key="PatientAccessServiceEngine" value="http://hdi.testtenethealth.net/HDI/PatientAccess " />
    <add key="DB2UTIL_USER_NAME" value="PACCESS" />
    <add key="DB2UTIL_PASSWORD" value="MAT8RH8RN" />
    <add key="ADAMAccessKey" value="t5iQKww1gYkdd8c6eK/R19VfghLWcr3MUdxzhHkNsxLxAzW2xJqqmw==" />
    <add key="ADAMApplicationGUID" value="a9b201b721c51d42810216101466cf84" />
    <add key="ADAM.SecurityService.URL" value="http://adamsecurityservice.testtenethealth.net/4.0/SecurityService.asmx" />
    <add key="ADAM.SecurityService.Timeout" value="60" />
    <add key="UserNameDefault" value="patientaccess.user03" />
    <add key="PasswordDefault" value="$Mdltrain1" />
    <add key="WorkstationIDDefault" value="DEBUGGER" />
    <add key="CFDBLookupServiceUrl" value="https://facilityweb.testtenethealth.net/FacilitywebService/CFDBLookupService.asmx" />
    <add key="AddressValidationServiceUrl" value="http://irishealth2019mdlc.coniferhealth.com:2583/edv/services/AddressValidationService" />
    <add key="BenefitsValidationServiceUrl" value="http://irishealth2019mdlc.coniferhealth.com:13014/edv/services/BenefitsValidation5010Service" />
    <add key="BenefitsValidationFusServiceUrl" value="http://irishealth2019mdlc.coniferhealth.com:13015/edv/services/BenefitsValidationFusService" />
    <add key="ComplianceCheckerServiceUrl" value="http://irishealth2019mdlc.coniferhealth.com:13017/edv/services/ComplianceCheckerService" />
    <add key="CreditValidationServiceUrl" value="http://irishealth2019mdlc.coniferhealth.com:2585/edv/services/CreditValidationService" />
    <add key="PriorAccountBalanceServiceUrl" value="http://irishealth2019mdlc.coniferhealth.com:13021/edv/services/PriorAccountBalanceService" />
    <add key="PatientAccess.UI.DocumentImagingViews.ScanURL" value="http://hdcm.tenethealth.com:8060/viwebserv/scan" />
    <add key="PatientAccess.UI.DocumentImagingViews.ViewURL" value="http://hdcm.tenethealth.com:8060/viwebserv/displaydocs" />
    <add key="viServiceUrl" value="http://dvld.tenethealth.com:8060/viwebserv/services/DocumentService" />
    <add key="VIWebPreviousVisitServiceUrl" value="http://dvld.tenethealth.com:8060/viwebserv/services/PreviousVisitService" />
    <add key="VIWebGUID" value="8de9f0e5d76cac99eecd9eecb7fa2e9d" />
    <add key="VIWebAppKey" value="7E90555E-A200-423C-A31B-A5089B284A27" />
    <add key="USING_PATIENTNAME_MANGLEDNAMES" value="0" />
    <add key="USING_GUARANTORNAME_MANGLEDNAMES" value="0" />
    <add key="USING_PHYSICIANNAME_MANGLEDNAMES" value="0" />
    <add key="USING_IPANAME_MANGLEDNAMES" value="0" />
    <add key="USING_BROKERNAME_MANGLEDNAMES" value="0" />
    <add key="USING_COVEREDGROUPNAME_MANGLEDNAMES" value="0" />
    <add key="USING_PAYORNAME_MANGLEDNAMES" value="0" />
  </appSettings>
  <system.net>
    <defaultProxy>
      <bypasslist>
        <add address="[a-z]+\.hdc\.net$" />
        <add address="[a-z]+\.mdltenethealth\.net$" />
        <add address="[a-z]+\.tenethealth\.net$" />
        <add address="[a-z]+\.tenethealth\.com$" />
        <add address="[a-z]+\.etenet\.com$" />
      </bypasslist>
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BenefitsValidation5010ServiceSEIBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://irishealth2019mdlc.coniferhealth.com:13014/edv/services/BenefitsValidation5010Service" binding="basicHttpBinding" bindingConfiguration="BenefitsValidation5010ServiceSEIBinding" contract="BenefitsValidation5010Proxy.BenefitsValidation5010ServiceSEI" name="BenefitsValidation5010ServiceSEIPort" />
    </client>
  </system.serviceModel>
</configuration>