<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
    <add key="ConnectionString" value="Server=USDAL-QRSDB01;Database=eCareTests;UID=pid.eCare;PWD=k1l1manjar0"/>
    <add key="OrganizationalService.RenewFrequency" value="1440"/>
    <add key="OrganizationalService.DeactivateFacilities" value="false"/>
    <add key="OrganizationalService.Provider" value="eCare.OrganizationalHierarchyService.CFDBProvider"/>
    <add key="OrganizationalService.LocalHierarchyLocation" value="TenetHierarchy.xml"/>
    <add key="CFDB.ServiceURL" value="http://facilityweb.etenet.com/FacilityWebService/CFDBLookupService.asmx"/>
    <add key="CFDB.HierarchyType" value="CLN"/>
    <add key="CFDB.FacilityType" value="HA,AD"/>
    <add key="CFDB.OverwriteTopLevel" value="true"/>
    <add key="CFDB.ProxyServer" value="http://internet.ps.net:80"/>
    <add key="CFDB.ProxyException" value="facilityweb.etenet.com"/>
</appSettings>
</configuration>
