<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PatientAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PatientAccess.Properties.Settings>
            <setting name="PatientAccess_AppServer_AddressValidationProxy_AddressValidationService"
                serializeAs="String">
                <value>http://edvdev2.tenethealth.net:8080/edv/services/AddressValidationService</value>
            </setting>
            <setting name="PatientAccess_AppServer_BenefitsValidationFusProxy_BenefitsValidationFusService"
                serializeAs="String">
                <value>http://edvdev2.tenethealth.net:8080/edv/services/BenefitsValidationFusService</value>
            </setting>
            <setting name="PatientAccess_AppServer_BenefitsValidationProxy_BenefitsValidationService"
                serializeAs="String">
                <value>http://edvdev2.tenethealth.net:8080/edv/services/BenefitsValidationService</value>
            </setting>
            <setting name="PatientAccess_AppServer_CFDBLookupProxy_CFDBLookupService"
                serializeAs="String">
                <value>http://facilityweb.testtenethealth.net/FacilitywebService/CFDBLookupService.asmx</value>
            </setting>
            <setting name="PatientAccess_AppServer_ComplianceCheckerProxy_ComplianceCheckerService"
                serializeAs="String">
                <value>http://edvdev2.tenethealth.net:8080/edv/services/ComplianceCheckerService</value>
            </setting>
            <setting name="PatientAccess_AppServer_CreditValidationProxy_CreditValidationService"
                serializeAs="String">
                <value>http://edvdev2.tenethealth.net:8080/edv/services/CreditValidationService</value>
            </setting>
            <setting name="PatientAccess_AppServer_HDI_PatientAccessService"
                serializeAs="String">
                <value>http://hdi.testtenethealth.net:80/HDI_3_11/PatientAccess</value>
            </setting>
            <setting name="PatientAccess_AppServer_PriorAccountBalanceProxy_PriorAccountBalanceService"
                serializeAs="String">
                <value>http://edvdev2.tenethealth.net:8080/edv/services/PriorAccountBalanceService</value>
            </setting>
            <setting name="PatientAccess_AppServer_VIWeb_PreviousVisitServiceService"
                serializeAs="String">
                <value>http://dvld.tenethealth.com:8060/viwebserv/services/PreviousVisitService</value>
            </setting>
            <setting name="PatientAccess_AppServer_AdamSecurityService_SecurityService"
                serializeAs="String">
                <value>http://adamsecurityservice.testtenethealth.net/4.0/SecurityService.asmx</value>
            </setting>
        </PatientAccess.Properties.Settings>
    </applicationSettings>
</configuration>