<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Configuration generated for Local on Trunk (2021-12-22T21:04:50+05:30) -->
  <configSections>
    <section name="encryptionKeys" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <connectionStrings configProtectionProvider="PatientAccessProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>RVP6KG7YNDSPRcf00dxw1eylAtGyjh0Xmdz9sjtImXOsUPYRlJEut22w8VgG91CmRFNhzw16QYJ0IKDQyTYsg0N1DvcJQp2wV+8O6unWFps573kUBXQfbOtfsFmflTqu8R3VWAebi9pMlEdH0MSPGUenmZjtpOQ/GQR5s5B4IYY=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>p1YlE9xsXmInWe4I3f1bB4QAxzpwK5wbjZasGYIk4AlVhhWaEdwWnYmsCDZ/tk8aQZx4MRRazvOdZuWidtAjjz+iXYIM0PC/C4RwYckYB7QnPVmR11yoiwOEHaPj2o/2do2H0Iyg8GUkqw7cmsoz6Tni4N7WViM13s393v6en7t2p8MQtmRdtZGMkQPFInP33E4lfuXoczueRZVirntXMvdvp7OvSQM7vF0YtMdwN8W0S8Oz+hxs7+zaxnnebry2Iu60fR0eyFHCRZB/XUnvjVBJC7x6ITu6Dw6wMTADOkNtlCvIY72Bep1Hd2hMYJbBFlS3P5rl63hoYPztMZgIsauBk6GqydoZu/49ZI6WDRwbEMeJPMPmVmOmRcyNHwuYs0IopT/d6gKr9U11/B1rcoPWemQY2ZtFPXzca/Xm3OlYzuwlThW7K8biQ6HNA8ImXjwX7ygmZq/6q+uxNZzhDLRiyj3+xUm+DE+8iHJQ9yBPy4KRuDMUbjQBriBty0qij4wAoTdA9SbBLdowLaLbeoWUFv0piOhoWL6TX4098n4YIPBilywl0ewrZlb8CUGUgZXlVNutNKKU8j8TuK6kLi65fxOtpzvtlZZ/zq9F35j4A4OFebi2ziLZvOYrvUzvjmTWPqV0AtryJts5gj9fDw==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <encryptionKeys configProtectionProvider="PatientAccessProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>wybyc5S7VowJad32pVVUrBqJapZoCZ9x65PZmDEzQuwBMZyFNsgMa7sigmbY9KWym/1FyKHPgMzv19Vp7T4w7FgCrtlxPyp+7pFfBAkltM9ycmmLnd9R1IOo1TEnxpIcn7pzfNof1LDRRXlZ1cz2SSQfQrp5abYZeyqobC6xe4s=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>7ZeRBbG+Lbny06+QtLQe/CmhAn2WrIvljgdZJlXOnFZEQBDCyXliZ8Pbg6BnZzU4XbxL6xcluILHhDPTHP0JwJmRMhYxmPLAvhRcDVe1/EQ8gBIilSVcMUjTa7S7u3bWI3EIdJ3Yb3AiVizFStHUUkNCXGchH0M7IzhWpHAwmVHBETpWOxt/GlqdMZM2cr68AcOxQ9+TQ2OTH3JAO++7Pg==</CipherValue>
      </CipherData>
    </EncryptedData>
  </encryptionKeys>
  <!-- Quartz.NET is a job scheduler built into the AppServer -->
  <quartz>
    <add key="quartz.scheduler.instanceName" value="PatientAccess" />
    <add key="quartz.scheduler.instanceId" value="AUTO" />
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="5" />
    <add key="quartz.threadPool.threadPriority" value="2" />
    <add key="quartz.jobStore.misfireThreshold" value="60000" />
    <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
    <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz" />
    <add key="quartz.jobStore.useProperties" value="true" />
    <add key="quartz.jobStore.acquireTriggersWithinLock" value="true" />
    <add key="quartz.jobStore.tablePrefix" value="Quartz." />
    <add key="quartz.jobStore.dataSource" value="primaryDataSource" />
    <add key="quartz.jobStore.clustered" value="true" />
    <add key="quartz.jobStore.lockHandler.type" value="Quartz.Impl.AdoJobStore.UpdateLockRowSemaphore, Quartz" />
    <add key="quartz.dataSource.primaryDataSource.provider" value="SqlServer-20" />
    <add key="quartz.dataSource.primaryDataSource.connectionStringName" value="ConnectionString" />
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.JobInitializationPlugin, Quartz" />
    <add key="quartz.plugin.xml.fileNames" value="~/QuartzJobs.xml" />
  </quartz>
  <!-- Quartz.NET uses Commons.Logging for output. This section bridges that to our existing Log4net instance -->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="EXTERNAL" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <add key="DownloadEnabled" value="False" />
    <add key="ClientDownloadURL" value="http://localhost/PatientAccess.AppServer/Downloads/" />
    <add key="ClientDownloadPath" value="" />
    <!-- These EDV settings, when not blank, override the user and facility passed to Passport for data validation. -->
    <add key="EdvUserOverride" value="KENNETH MCKENZIE" />
    <add key="EdvFacilityOverride" value="T38" />
    <add key="LockWaitAttempts" value="10" />
    <add key="LockWaitInterval" value="500" />
    <add key="MSP2_START_DATE" value="11/01/2006" />
    <add key="UseDynamicSearch" value="true" />
    <add key="RetryAttempts" value="5" />
    <add key="LOADINGFACILITY" value="" />
    <add key="ConnectionTimeout" value="0" />
    <add key="CommandTimeout" value="0" />
    <add key="EMPLOYER_CODE_DATA_AREA_NAME" value="EM#       " />
    <add key="EMPLOYER_CODE_LIB_NAME" value="PALIBR    " />
    <add key="VersionMatchEnforced" value="true" />
    <add key="ACTIVITY_TIMEOUT_FIRST_ALERT" value="1620000" />
    <add key="ACTIVITY_TIMEOUT_SECOND_ALERT" value="300000" />
    <add key="ADAMApplicationName" value="PatientAccess" />
    <add key="ADAMLegacyApplicationName" value="PBAR" />
    <add key="OrganizationalService.RenewFrequency" value="1440" />
    <add key="OrganizationalService.DeactivateFacilities" value="false" />
    <add key="OrganizationalService.Provider.Assembly" value="PatientAccess.AppServer.dll" />
    <add key="OrganizationalService.Provider.Class" value="PatientAccess.Persistence.OrganizationalHierarchyProvider" />
    <add key="PatientAccess.IsServer" value="True" />
    <add key="InsertImmediate" value="true" />
    <add key="UseMedicareCannotBePrimaryPayorForAutoAccidentRule" value="true" />
    <add key="PREOP_START_DATE" value="11/01/2009" />
    <add key="FLORIDA_SSN_RULE_START_DATE" value="03/23/2010" />
    <add key="CLINICALRESEARCHFIELDS_START_DATE" value="11/15/2009" />
    <add key="ALTERNATECAREFACILITY_START_DATE" value="01/03/2010" />
    <add key="RIGHTCARE_RIGHTPLACE_START_DATE" value="01/24/2010" />
    <add key="MODEOFARRIVALREQUIRED_START_DATE" value="02/24/2010" />
    <add key="PRIMARYCAREPHYSICIAN_START_DATE" value="03/01/2010" />
    <add key="THRESHOLD_FOR_PULLING_PCP_FORWARD_IN_DAYS" value="60" />
    <add key="PRIMARYCAREPHYSICIAN_FOR_PREMSE_START_DATE" value="08/23/2010" />
    <add key="ER_TO_IP_CONDITION_CODE_START_DATE" value="05/21/2010" />
    <add key="BIRTHTIME_START_DATE" value="11/01/2010" />
    <add key="MSE_BIRTHTIME_START_DATE" value="06/10/2012" />
    <add key="PULL_PRIOR_VISIT_INSURANCE_PREMSE_START_DATE" value="04/26/2018" />
    <add key="CACHE_KEY_FOR_ACCOMODATIONCODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ACTIVITY_CODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ACTIVITIESLOADED_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ADMITSOURCES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ALLACCOMODATIONS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ALLACTIONS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ALLRULES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ALLRULESBYID_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_BENEFITS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_CONDITIONCODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_CONDITIONOFSERVICE_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_CONFIDENTIALCODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_CONNECTION_SPECS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_COUNTIES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_COUNTRIES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_DISCHARGE_DISPOSITIONS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_DISCHARGE_STATUSES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_EMPLOYMENT_STATUSES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ETHNICITIES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_FACILITIES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_FINANCIALCLASSES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_CREDITCARDTYPES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_FOLLOWUPUNITS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_GENDERS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_HOSPITALCLINICS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_HSVS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_LANGUAGES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_MARITALSTATUSES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_MODESOFARRIVAL_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_NPPVERSIONS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_NURSINGSTATIONS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_OCCURANCECODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_PATIENTTYPES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_PHYSICIANROLES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_PHYSICIANSPECIALTIES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_PRETESTHOSPITALCLINICS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_RACES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_READMITCODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_REFERRALFACILITIES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_REFERRALSOURCES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_REFERRALTYPES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_RELIGIONS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_RELIGIOUSPLACESOFWORSHIP_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ROLES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ROOMS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_RULEACTIONS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_RULEWORKLIST_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_SCHEDULECODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_SELECTABLEOCCURANCECODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_SPANCODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_STATES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_TENET_PLAN_CODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_TYPESOFRELATIONSHIPS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_WORKLISTRANGES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_WORKLISTS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_WORKLISTSELECTIONRANGES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_WRITEABLE_ACTIVITY_CODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ZIPCODESTATUSES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_TYPESOFVERIFICATIONRULES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_TYPESOFPRODUCTS_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_RESEARCHSTUDIES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_ALTERNATECAREFACILITIES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_SUFFIXCODES_INTERVAL" value="1" />
    <add key="CACHE_KEY_FOR_DIALYSISCENTERNAMES_INTERVAL" value="1" />
    <add key="PARSE_COMMERCIAL" value="true" />
    <add key="PARSE_GOVERNMENT_MEDICARE" value="true" />
    <add key="PARSE_GOVERNMENT_MEDICAID" value="false" />
    <add key="PARSE_GOVERNMENT_OTHER" value="false" />
    <add key="RegexPatternForMedicaidPayorId" value="(?:MEDICAID-CA)" />
    <add key="RegexPatternForCommercialPayorId" value="(?:CIGNA.*|06-0303370*)" />
    <add key="LOADINGFOLLOWUPUNIT" value="000" />
    <add key="LOADCACHESERIAL" value="true" />
    <add key="PERFORM_PRESAVECHECK" value="true" />
    <add key="WEB_REQUEST_DEFAULTS" value="false" />
    <add key="WEB_REQUEST_KEEP_ALIVE" value="false" />
    <add key="WEB_REQUEST_PROTOCOL_VERSION" value="1.1" />
    <add key="CCMaxServicePointIdleTime" value="3000" />
    <add key="CCCheckForCrossThreads" value="true" />
    <add key="CCAnnouncementsAfterCrash" value="true" />
    <add key="CCUseRemotingCompression" value="false" />
    <add key="CCRemotingErrorRetries" value="0" />
    <add key="CCRemotingTimeout" value="-1" />
    <add key="CCApplicationInActivityTimeout" value="900000" />
    <add key="CIEGUID" value="a9b201b721c51d42810216101466cf84" />
    <add key="PatientAccessServiceEngine" value="http://hdi.testtenethealth.net/HDI/PatientAccess " />
    <add key="DB2UTIL_USER_NAME" value="PACCESS" />
    <add key="DB2UTIL_PASSWORD" value="MAT8RH8RN" />
	  <add key="ADAMAccessKey" value="n1GR9ZsHuWe+RRt5izXrPeUdFEHMXEMrIOPj9PVkE1D443JIxuOrAw==" />
	  <add key="ADAMApplicationGUID" value="7a7f3215f7b46145825620ec3a34e8c0" />
	  <add key="ADAM.SecurityService.URL" value="http://adamsecurityservice.mdltenethealth.net/4.0/securityservice.asmx" />
	  <add key="ADAM.SecurityService.Timeout" value="10" />
	  <add key="UserNameDefault" value="patientaccess.user03" />
	  <add key="PasswordDefault" value="$Mdltrain1" />
	  <add key="WorkstationIDDefault" value="DEBUGGER" />
	  <add key="CFDBLookupServiceUrl" value="http://10.11.22.87:8085/Cfdbstub/cfdbservice.asmx" />

	  <add key="AddressValidationServiceUrl" value="http://irishealth2019mdlc.coniferhealth.com:2583/edv/services/AddressValidationService" />
    <add key="BenefitsValidationServiceUrl" value="http://irishealth2019mdlc.coniferhealth.com:13014/edv/services/BenefitsValidation5010Service" />
    <add key="IdentityHubServiceUrl" value="https://tenhdcthmdmtst01.tenethealth.net:9443/ibminitiatews/services/IdentityHub?wsdl" />
    <add key="BenefitsValidationFusServiceUrl" value="http://irishealth2019mdlc.coniferhealth.com:13015/edv/services/BenefitsValidationFusService" />
    <add key="ComplianceCheckerServiceUrl" value="http://irishealth2019mdlc.coniferhealth.com:13017/edv/services/ComplianceCheckerService" />
    <add key="CreditValidationServiceUrl" value="http://irishealth2019mdlc.coniferhealth.com:2585/edv/services/CreditValidationService" />
    <add key="PriorAccountBalanceServiceUrl" value="http://irishealth2019mdlc.coniferhealth.com:13021/edv/services/PriorAccountBalanceService" />
    <add key="PatientAccess.UI.DocumentImagingViews.ScanURL" value="http://hdcm.tenethealth.com:8060/viwebserv/scan" />
    <add key="PatientAccess.UI.DocumentImagingViews.ScanHTML5Url" value="https://dvld.tenethealth.com:8062/#/scan" />
    <add key="PatientAccess.UI.DocumentImagingViews.ViewURL" value="http://hdcm.tenethealth.com:8060/viwebserv/displaydocs" />
    <add key="PatientAccess.UI.DocumentImagingViews.ViewHTML5Url" value="https://dvld.tenethealth.com:8062/#/displaydocument" />
    <add key="viServiceUrl" value="http://dvld.tenethealth.com:8060/viwebserv/services/DocumentService" />
    <add key="VIWebPreviousVisitServiceUrl" value="http://dvld.tenethealth.com:8060/viwebserv/services/PreviousVisitService" />
    <add key="VIWebGUID" value="7E90555E-A200-423C-A31B-A5089B284A27" />
    <add key="VIWebAppKey" value="8de9f0e5d76cac99eecd9eecb7fa2e9d" />
    <add key="LocalVIwebUrl" value="https://localhost/PatientAccess.AppServer/VIWebCall.aspx" />
    <add key="USING_PATIENTNAME_MANGLEDNAMES" value="0" />
    <add key="USING_GUARANTORNAME_MANGLEDNAMES" value="0" />
    <add key="USING_PHYSICIANNAME_MANGLEDNAMES" value="0" />
    <add key="USING_IPANAME_MANGLEDNAMES" value="0" />
    <add key="USING_BROKERNAME_MANGLEDNAMES" value="0" />
    <add key="USING_COVEREDGROUPNAME_MANGLEDNAMES" value="0" />
    <add key="USING_PAYORNAME_MANGLEDNAMES" value="0" />
    <add key="NumberOfDaysAfterAdmitDateToKeepOnlineReregistrationSubmissions" value="5" />
    <add key="EMPISERVICE_USERNAME" value="Empipassvc" />
    <add key="EMPISERVICE_PASSWORD" value="pasEmpi!MSvc" />
    <add key="OKTAAUTHURL" value="https://loginmdl.etenet.com/api/v1/authn" />
    <add key="OKTAROLEURL" value="https://loginmdl.etenet.com/api/v1/users" />
    <add key="OKTAAPIKey" value="00q-bMU23roEE9kIK-WhE7Ey0xhO6C37jyU7vAW-2-" />
    <add key="OKTAUSERINFOURL" value="https://loginmdl.etenet.com/api/v1/users" />
    <add key="CONFIG_PROXY_URL" value="http://ten-mwg-prxy-ptc-13.tenethealth.com:9090" />
    <add key="PROXY_USER" value="patientaccess.user03" />
    <add key="PROXY_PASSWORD" value="$Mdltrain1" />
    <add key="LEGACY_URL" value="https://tenettest.service-now.com/api/now/table/u_eid_m2m_user_to_okta_group?sysparm_fields=u_user_credentials.u_user_id%2Cu_hsp_code%2Cu_active%2Cu_application.name&amp;sysparm_limit=20&amp;u_employee_id=" />
    <add key="LEGACY_USER" value="svc.t1.legacyid" />
    <add key="LEGACY_PASSWORD" value="legacyid2120" />
    <add key="DOFRApiUrl" value="https://dofrapimdl.coniferhealth.com/api/Request/predict" />
    <add key="DOFRApiKey" value="AE3FE9FE-5A12-42AE-81F5-1CB41EF95217" />
    <add key="DOFRUseTLS12" value="true" />
    <add key="PASServerEnvironment" value="LOCAL" />
  </appSettings>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.AddressPBARBroker, PatientAccess.AppServer" objectUri="AddressPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.Specialized.ClinicalTrialsAccountPBARBroker, PatientAccess.AppServer" objectUri="AccountPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.ClientConfigurationBroker, PatientAccess.AppServer" objectUri="ClientConfigurationBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.AccountCopyBroker, PatientAccess.AppServer" objectUri="AccountCopyBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.EmployerPbarBroker, PatientAccess.AppServer" objectUri="EmployerPbarBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.EmploymentStatusPBARBroker, PatientAccess.AppServer" objectUri="EmploymentStatusPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.FacilityBroker, PatientAccess.AppServer" objectUri="FacilityBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.FollowUpUnitBroker, PatientAccess.AppServer" objectUri="FollowUpUnitBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.LoggerBroker, PatientAccess.AppServer" objectUri="LoggerBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.FinancialClassesPBARBroker, PatientAccess.AppServer" objectUri="FinancialClassesPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.FusNoteBroker, PatientAccess.AppServer" objectUri="FusNoteBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.DemographicsPBARBroker, PatientAccess.AppServer" objectUri="DemographicsPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.OriginPBARBroker, PatientAccess.AppServer" objectUri="OriginPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.ReligionPBARBroker, PatientAccess.AppServer" objectUri="ReligionPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.SSNPBARBroker, PatientAccess.AppServer" objectUri="SSNPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.GuarantorPBARBroker, PatientAccess.AppServer" objectUri="GuarantorPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.Specialized.ClinicalTrialsPatientPBARBroker, PatientAccess.AppServer" objectUri="PatientPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.RelationshipTypePBARBroker, PatientAccess.AppServer" objectUri="RelationshipTypePBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.InsurancePBARBroker, PatientAccess.AppServer" objectUri="InsurancePBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.OccuranceCodePBARBroker, PatientAccess.AppServer" objectUri="OccuranceCodePBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.WorklistPBARBroker, PatientAccess.AppServer" objectUri="WorklistPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.WorklistSettingsBroker, PatientAccess.AppServer" objectUri="WorklistSettingsBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.LocationPBARBroker, PatientAccess.AppServer" objectUri="LocationPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.DischargePBARBroker, PatientAccess.AppServer" objectUri="DischargePBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.PhysicianPBARBroker, PatientAccess.AppServer" objectUri="PhysicianPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Services.HDIService, PatientAccess.AppServer" objectUri="HDIService.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.RuleBroker, PatientAccess.AppServer" objectUri="RuleBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.CreditCardTypeBroker, PatientAccess.AppServer" objectUri="CreditCardTypeBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.HSVPBARBroker, PatientAccess.AppServer" objectUri="HSVPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.AccountNumberPBARBroker, PatientAccess.AppServer" objectUri="AccountNumberPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.TransactionBroker, PatientAccess.AppServer" objectUri="TransactionBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.HospitalClinicsPBARBroker, PatientAccess.AppServer" objectUri="HospitalClinicsPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.ModeOfArrivalPBARBroker, PatientAccess.AppServer" objectUri="ModeOfArrivalPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.AdmitSourcePBARBroker, PatientAccess.AppServer" objectUri="AdmitSourcePBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.TimeBroker, PatientAccess.AppServer" objectUri="TimeBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.FacilityFlagPBARBroker, PatientAccess.AppServer" objectUri="FacilityFlagPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.ConditionOfServiceBroker, PatientAccess.AppServer" objectUri="ConditionOfServiceBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.EmailReasonBroker, PatientAccess.AppServer" objectUri="EmailReasonBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.ConfidentialCodePBARBroker, PatientAccess.AppServer" objectUri="ConfidentialCodePBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.NPPVersionPBARBroker, PatientAccess.AppServer" objectUri="NPPVersionPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.InfoReceivedSourceBroker, PatientAccess.AppServer" objectUri="InfoReceivedSourceBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.TypeOfProductBroker, PatientAccess.AppServer" objectUri="TypeOfProductBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.BenefitsCategoryPBARBroker, PatientAccess.AppServer" objectUri="BenefitsCategoryPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.TypeOfVerificationRuleBroker, PatientAccess.AppServer" objectUri="TypeOfVerificationRuleBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.RoleBroker, PatientAccess.AppServer" objectUri="RoleBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.AnnouncementBroker, PatientAccess.AppServer" objectUri="AnnouncementBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.VIWebServiceBroker, PatientAccess.AppServer" objectUri="VIWebServiceBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.SpanCodePBARBroker, PatientAccess.AppServer" objectUri="SpanCodePBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.UserBroker, PatientAccess.AppServer" objectUri="UserBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.ConditionCodePBARBroker, PatientAccess.AppServer" objectUri="ConditionCodePBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.DataValidationBroker, PatientAccess.AppServer" objectUri="DataValidationBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.ReferralSourcePBARBroker, PatientAccess.AppServer" objectUri="ReferralSourcePBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.ScheduleCodePBARBroker, PatientAccess.AppServer" objectUri="ScheduleCodePBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.ReAdmitCodePBARBroker, PatientAccess.AppServer" objectUri="ReAdmitCodePBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.ReferralFacilityPBARBroker, PatientAccess.AppServer" objectUri="ReferralFacilityPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.ReferralTypePBARBroker, PatientAccess.AppServer" objectUri="ReferralTypePBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.PBARSecurityCodeBroker, PatientAccess.AppServer" objectUri="PBARSecurityCodeBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.MSPPBARBroker, PatientAccess.AppServer" objectUri="MSPPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.CrashReportBroker, PatientAccess.AppServer" objectUri="CrashReportBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.AuthorizationStatusPBARBroker, PatientAccess.AppServer" objectUri="AuthorizationStatusPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.MedicalRecordNumberPBARBroker, PatientAccess.AppServer" objectUri="MedicalRecordNumberPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.TransactionCoordinator, PatientAccess.AppServer" objectUri="TransactionCoordinator.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.CodedDiagnosisPBARBroker, PatientAccess.AppServer" objectUri="CodedDiagnosisPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.TimeoutBroker, PatientAccess.AppServer" objectUri="TimeoutBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.Locking.SqlOfflineLockBroker, PatientAccess.AppServer" objectUri="SqlOfflineLockBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.ResearchStudyPBARBroker, PatientAccess.AppServer" objectUri="ResearchStudyPBARBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.AlternateCareFacilityPbarBroker, PatientAccess.AppServer" objectUri="AlternateCareFacilityPbarBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.LeftOrStayedBroker, PatientAccess.AppServer" objectUri="LeftOrStayedBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.OnlinePreregistration.PreRegistrationSubmissionsBroker, PatientAccess.AppServer" objectUri="PreRegistrationSubmissionsBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.DialysisCenterPbarBroker, PatientAccess.AppServer" objectUri="DialysisCenterPbarBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.CellPhoneConsentBroker, PatientAccess.AppServer" objectUri="CellPhoneConsentBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.PriorVisitBroker, PatientAccess.AppServer" objectUri="PriorVisitBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.EMPIBroker, PatientAccess.AppServer" objectUri="EMPIBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.SuffixBroker, PatientAccess.AppServer" objectUri="SuffixBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.OKTAUserBroker, PatientAccess.AppServer" objectUri="OKTAUserBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.DOFRInitiateBroker, PatientAccess.AppServer" objectUri="DOFRInitiateBroker.rem" />
        <wellknown mode="SingleCall" type="PatientAccess.Persistence.ServiceCategoryBroker, PatientAccess.AppServer" objectUri="ServiceCategoryBroker.rem" />
      </service>
      <channels>
        <channel ref="http">
          <clientProviders>
            <formatter ref="binary" />
          </clientProviders>
          <serverProviders>
            <provider type="PatientAccess.RemotingServices.VersionMatchingServerSinkProvider, PatientAccess.Common" ClientVersion="1.0" />
            <provider type="PatientAccess.RemotingServices.GZipCompressionServerSinkProvider, PatientAccess.Common" Enable="true" />
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  <system.web>
    <compilation defaultLanguage="c#" debug="true" />
    <customErrors mode="Off" />
    <authentication mode="Windows" />
    <authorization>
      <allow users="*" />
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="false" />
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpRuntime maxRequestLength="8192" />
    <httpModules>
      <add name="UnhandledExceptionModule" type="PatientAccess.Http.UnhandledExceptionModule, PatientAccess.AppServer" />
    </httpModules>
  </system.web>
  <system.net>
    <defaultProxy>
      <bypasslist>
        <add address="[a-z]+\.hdc\.net$" />
        <add address="[a-z]+\.mdltenethealth\.net$" />
        <add address="[a-z]+\.tenethealth\.net$" />
        <add address="[a-z]+\.tenethealth\.com$" />
        <add address="[a-z]+\.etenet\.com$" />
      </bypasslist>
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BenefitsValidation5010ServiceSEIBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IdentityHubSoapBinding" maxReceivedMessageSize="2147483647" sendTimeout="00:00:05" receiveTimeout="00:00:05">
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="PriorAccountBalanceServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://irishealth2019mdlc.coniferhealth.com:13014/edv/services/BenefitsValidation5010Service" binding="basicHttpBinding" bindingConfiguration="BenefitsValidation5010ServiceSEIBinding" contract="BenefitsValidation5010Proxy.BenefitsValidation5010ServiceSoap" name="BenefitsValidation5010ServiceSEIPort" />
      <endpoint address="https://tenhdcthmdmtst01.tenethealth.net:9443/ibminitiatews/services/IdentityHub?wsdl" binding="basicHttpBinding" bindingConfiguration="IdentityHubSoapBinding" contract="IdentityHubService.IdentityHubPort" name="IdentityHub" />
      <endpoint address="http://irishealth2019mdlc.coniferhealth.com:13021/edv/services/PriorAccountBalanceService" binding="basicHttpBinding" bindingConfiguration="PriorAccountBalanceServiceSoap" contract="PriorAccountBalanceProxy.PriorAccountBalanceServiceSoap" name="PriorAccountBalanceServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>